<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow top-navbar">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Ch'ti Bellos</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Sorties
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Musiciens
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <app-main-container></app-main-container>
    </main>
  </div>
</div>
